.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/bg7.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-text-1 {
  font-family: ABeeZee;
  width: 569px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 560px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 404px;
  grid-template-columns: calc(33.3333% - 29px) calc(33.3333% - 29px) calc(33.3333% - 29px);
  grid-template-rows: auto;
  grid-gap: 44px 44px;
  margin: 35px auto 60px 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(92, 107, 192) !important;
  margin: 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 235px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: -22px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 67px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: 0 auto -6px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(92, 107, 192) !important;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(153, 153, 153) !important;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 235px;
  background-size: auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: -22px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 67px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-1 .u-icon-5 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(153, 153, 153) !important;
  margin: 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 235px;
  background-size: auto;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: -22px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 67px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-list-1 {
    min-height: 333px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-list-1 {
    min-height: 765px;
    grid-template-columns: calc(((100% - 720px) / 2) + 338px) calc(((100% - 720px) / 2) + 338px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.125rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}